<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Tokens</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        function copyToClipboard(id) {
            var copyText = document.getElementById(id);
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            document.execCommand("copy");
        }
    </script>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto mt-10">
        <div class="flex flex-row gap-4">
            <div class="bg-white shadow-md rounded p-6 mb-6 w-1/4">
                <div class="user-info flex flex-row w-100">
                    <h2 class="text-2xl font-bold mb-5 w-full">Threads</h2>
                    <img src="{{ user.threads_profile_picture_url }}" alt="Profile Picture" class="w-24 h-24 object-cover rounded-full">
                </div>

                <div class="mb-5 p-3">
                    <pre>{{ user.threads_biography }}</pre>
                </div>

                <div class="mb-5">
                    <label class="block text-gray-700 text-sm font-bold mb-2">ID:</label>
                    <div class="flex">
                        <input type="text" id="user_id"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            value="{{ user.id }}" readonly>
                        <button onclick="copyToClipboard('user_id')"
                            class="ml-2 px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline">
                            📃
                        </button>
                    </div>
                </div>
                <div class="mb-5">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Name:</label>
                    <div class="flex">
                        <input type="text" id="username"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            value="{{ user.username }}" readonly>
                        <button onclick="copyToClipboard('username')"
                            class="ml-2 px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline">
                            📃
                        </button>
                    </div>
                </div>
            </div>

            <div class="bg-white shadow-md rounded p-6 mb-6 w-full">
                <h2 class="text-2xl font-bold mb-5">Authorization</h2>
                <div class="mb-5">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Auth Code:</label>
                    <div class="flex">
                        <input type="text" id="auth_code"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            value="{{ code }}" readonly>
                        <button onclick="copyToClipboard('auth_code')"
                            class="ml-2 px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline">
                            📃
                        </button>
                    </div>
                </div>
                <div class="mb-5">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Short lived access token:</label>
                    <div class="flex">
                        <input type="text" id="short_lived_token"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            value="{{ short_lived_token_response }}" readonly>
                        <button onclick="copyToClipboard('short_lived_token')"
                            class="ml-2 px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline">
                            📃
                        </button>
                    </div>
                </div>
                <div class="mb-5">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Long lived Token:</label>
                    <div class="flex">
                        <input type="text" id="long_lived_token"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            value="{{ long_lived_token_response }}" readonly>
                        <button onclick="copyToClipboard('long_lived_token')"
                            class="ml-2 px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline">
                            📃
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {% for name, account_data in accounts.items() %}
        <div class="bg-white shadow-md rounded p-6 mb-6">
            <h2 class="text-2xl font-bold mb-5">{{ name }} - Upload Image</h2>
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" name="account_id" value="{{ name }}">
                <div class="mb-5">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Image URL:</label>
                    <input type="text" name="image_url" value="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/6e4e90e3-9c4f-4232-ab98-ff2fc3fc5920/d2vcj8d-cd171a06-05fc-4093-8ce7-2b3c139452fb.jpg"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        required readonly>
                </div>
                <div class="mb-5">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Caption:</label>
                    <textarea type="text" name="caption" readonly
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">This is a test caption made with the threads-api-tester https://github.com/Disane87/threads-api-tester</textarea>
                </div>
                <div>
                    <button type="submit"
                        class="px-4 py-2 bg-green-500 text-white font-bold rounded hover:bg-green-700 focus:outline-none focus:shadow-outline">
                        Upload
                    </button>
                </div>
            </form>
        </div>
        <div class="bg-white shadow-md rounded p-6 mb-6">
            <h2 class="text-2xl font-bold mb-5">{{ name }} - Latest 6 Posts</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for media in account_data['media'] %}
                <div class="bg-white p-6 rounded-lg shadow-md">
                    <h2 class="text-xl font-bold mb-2">{{ media['username'] }}</h2>
                    <p class="text-gray-700 mb-4">{{ media['text'] | replace("\n", "<br>") | safe }}</p>
                    <a target="_blank" href="{{ media['permalink'] }}" class="text-blue-500">View Post</a>
                </div>
                <!-- <div class="bg-gray-200 p-4 rounded-lg shadow-md">
                    <p class="mt-2 text-gray-700">{{ media['text'] }}</p>
                </div> -->
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>
</body>

</html>